Xft.dpi:96
Xft.hinting:1
Xft.hintstyle:hintslight
Xft.antialias:1
Xft.rgba:rgb
xterm*termName:xterm-256color

xterm*locale:true
xterm*utf8: true
xterm*utf8Title: true
xterm*forceBoxChars: true
!xterm*cursorUnderLine: true
xterm*cursorColor:green
xterm*cursorBlink: true
xterm*fontMenu*fontdefault*Label: Default
!xterm*faceName:Consolas:Bold:antialias=True:pixelsize=14
XTerm*faceName:Consolas:Bold:charwidth=8:antialias=True:pixelsize=14
!XTerm*faceName:Consolas:Bold:charwidth=9
XTerm*faceNameDoublesize:msyh:Bold:charwidth=6:antialias=True:pixelsize=12
xterm*cjkWidth:false
xterm*xftAntialias: ture

XTerm*preeditType: Root
xterm*geometry: 110x20
xterm*rightScrollBar: true
xterm*loginshell: true

XTerm*VT100.Translations: #override \
	Ctrl <KeyPress> V: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
	<BtnUp>: select-end(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
	Ctrl <KeyPress> P: print() \n

!xterm*background:#222222
xterm*background:#2d0922
xterm*foreground:#ffffff
xterm*colorUL:green

! Black + DarkGrey
xterm*color0:       #000000
xterm*color8:       #666666

! DarkRed + Red
xterm*color1:       #b45151
xterm*color9:       #fe8686

! DarkGreen + Green
xterm*color2:       #99b33e
xterm*color10:      #fe8686

! DarkYellow + Yellow
xterm*color3:       #f0e68c
!xterm*color11:      #efe58b
xterm*color11:      #f0c600

! DarkBlue + Blue
xterm*color4:       #2797d8
xterm*color12:      #86cdea

! DarkMangenta + Mangenta
xterm*color5:       #aa6eaf
xterm*color13:      #cb96ce

!DarkCyan + Cyan
xterm*color6:       #418179
xterm*color14:      #71bebe

! LightGrey + White
xterm*color7:       #bebebe
xterm*color15:      #ffffff
